.wrap {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  flex: 1;
}
.section-title h1 {
  margin: 0;
  line-height: 50px;
  letter-spacing: 5px;
  font-weight: 600;
  color: white;
}
.border {
  display: block;
  height: 10px;
  margin-bottom: 40px;
  width: 100px;
  background: #ed5565;
}
.row {
  width: 50%;
  min-height: 1px;
  float: left;
  position: relative;
  display: inline-block;
}
.row ul {
  margin: 0 20px 0 0 !important;
  text-align: left !important;
  padding: 0;
}
.row ul li {
  list-style: none !important;
}
.row ul li em {
  display: block;
  margin-bottom: 15px;
}
.row ul li div {
  margin-bottom: 35px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background: #09131b;
  height: 42px;
  overflow: hidden;
}
.row ul li div span {
  height: 42px;
  width: 50%;
  display: block;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.row ul li.html div span {
  background: #e13c4c;
  width: 90%;
}
.row ul li.css div span {
  background: #ffdb43;
  width: 90%;
}
.row ul li.php div span {
  background: #9d2027;
  width: 80%;
}
.row ul li.mysql div span {
  background: #3498db;
  width: 75%;
}
.row ul li.jquery div span {
  background: #2ecc71;
  width: 60%;
}
.row ul li.javascript div span {
  background: #a94034;
}
.row ul li.seo div span {
  background: #ff8137;
  width: 60%;
}
.row ul li.unix div span {
  width: 65%;
  background: #0cbfb3;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
