.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  background-color: #151515;
  left: 0;
  width: 9rem;
  justify-content: space-between;
  z-index: 21;
}

header {
  height: 19vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.name {
  font-size: x-large;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.titleDiv {
  margin-top: 11vh;
  text-align: center;
}

.title {
  font-size: small;
}

.logo {
  width: 6.8rem;
  margin-top: 1.5vh;
  margin-left: 1.3vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 17vh;
  align-self: center;
}

.footerIcons {
  width: 25px;
  height: 25px;
  background-color: white;
}

hr {
  background-color: #383838;
  border: 0.1px solid #383838;
  width: 8rem;
}

#wrap {
  position:absolute;
  left: 0;
  top: 0; 
}

nav {
  z-index: 21;
}