/* IntroSection */
.hoverBounce {
  -webkit-transform: scale(1);
  transform: scale(1);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-shadow: 1px 1px 1px #0f6356, 1px 2px 1px #0f6356, 1px 3px 1px #0f6356,
    1px 4px 1px #0f6356, 1px 5px 1px #0f6356;
}

.hoverBounce:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  color: #08fdd8;
}

.introSectionParagraph {
  font-size: 18px;
  color: rgb(144, 144, 150);
  text-align: center;
}

.introSectionTitle {
  font-size: larger;
  color: #08fdd8;
  margin-bottom: 7px;
}

.contactButton {
  width: 100px;
  color: #ffffff;
  font-weight: 600;
  font-size: large;
  height: 50px;
  border-radius: 5px;
  border: 1px #08fdd8 solid;
  background-color: #08fdd8;
  background-image: -moz-linear-gradient(top, #1d1d1d 100%, #1d1d1d 100%);
  background-image: -webkit-linear-gradient(top, #1d1d1d 100%, #1d1d1d 100%);
  background-image: linear-gradient(to bottom, #1d1d1d 100%, #1d1d1d 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  -webkit-animation: fadein 0.9s linear forwards;
  animation: fadein 0.9s linear forwards;
}
.contactButton:hover {
  background-position: -200%;
  transition: background 900ms ease-in-out;
}

#typewriterEffect {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Home */
.homeMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
